[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["standard"], version = "*"}
samv2 = "*"
pytest = "*"
matplotlib = "*"
opencv-python = "*"
concave-hull = "*"
scikit-learn = "*"
requests = "*"
transformers = "*"
einops = "*"
timm = "*"

[dev-packages]

[requires]
python_version = "3.11"
